* {
    margin: 0;
    padding: 0;
}

.my-cover {
    min-height: 100vh;
}

.avatar {
    width: 50px;
    height: 50px;
    border: solid black;
    border-width: 2px;
    border-radius: 50%;
}

.cursive {
    font-family: 'Pacifico', cursive;
}

.collapsible {
    cursor: pointer;
}

.collapsible-content {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}